.area-login-background {
  height: 100%;
  width: 55%;
  display: block;
  float: left;
  background: url('../../../assets/images/background-login.png');
  background-color: var(--primary-color);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}
