.botao-primario{
    background: red;
    color: white;
    border: 0;
    width: auto;
    outline: none;
    padding: 6px 20px;
    border-radius: 4px;
    
    font-size: 16px;
    box-shadow: 0px 0px 3px 1px #0a0a0a20;
    transition: 0.3s linear all;
    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 5px 3px #0a0a0a80;
    }
    &:disabled{
        cursor: default;
        opacity: 0.7;        
    }
}